@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");

body {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: #edefee;
  margin: 3rem 3rem 2% 2%;
}

h1 {
  font-size: 3rem;
}

/****************** Header ********************/

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100px;
}

header > img {
  width: auto;
  height: 100%;
}

/****************** Nav ********************/

nav {
  color: black;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

nav ul {
  /* Make the markers disappear */
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
nav ul li {
  /* Puts the elements in a single line */
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
}

a {
  box-shadow: inset 0 0 0 0 rgb(47, 62, 11);
  color: rgb(47, 62, 11);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  text-decoration: none;
}
a:hover {
  box-shadow: inset 100px 0 0 0 #f4ce14;
  border-radius: 0.5rem;
  color: rgb(47, 62, 11);
}

nav input[type="checkbox"],
nav label {
  display: none;
}

/****************** Hero ********************/
.hero {
  display: flex;
  justify-content: space-evenly;
  height: auto;
}

.hero > article {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #495e57;
  padding: 2rem;
}

.heroTitle {
  font-size: 4cqmin;
  margin: none;
  color: #f4ce14;
}

.heroSubtitle {
  font-size: 2rem;
  margin: none;
  color: white;
}

.heroParagraph {
  font-size: 2rem;
  font-weight: 100;
  color: white;
}

.heroBanner {
  height: 100%;
  width: auto;
  border-radius: 10%;
}

/****************** Button ********************/
.button {
  background-color: #f4ce14;
  padding: 0.5rem;
  font-size: 2rem;
  color: black;
  text-align: center;
  border-radius: 1rem;
  height: 50%;
}

.button:hover {
  background-color: white;
  border-radius: 1rem;
}

/****************** Highlights ********************/
.highlight {
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 100%;
}

.specials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: fit-content;
  align-items: center;
}

.specialTitle {
  font-size: 4rem;
}

.preview-menus {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  justify-items: center;
}

.preview-menus article {
  width: 80%;
  border-radius: 1rem;
}

.preview-menus img {
  width: 100%;
  height: 250px;
  border-radius: 1rem 1rem 0 0;
}
/****************** Menu Card ********************/
.menu-card {
  background-color: rgb(199, 198, 198);
}

.menu-card-text {
  padding: 0.5rem;
}

.menu-card-text-title {
  font-size: 2rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.menu-card-text-title span {
  color: #f47514;
  font-size: 1.5rem;
}

.menu-card-link {
  font-size: 1.5rem;
  font-weight: 800;
}
/****************** About ********************/

.about {
  background-color: #495e57;
  border-radius: 1rem;
  padding: 0 0 1rem 1rem;
  color: white;
}
.aboutTitle {
  font-size: 4rem;
}

.aboutSubtitle {
  font-size: 6rem;
  color: #f4ce14;
}

.aboutParagraph {
  font-size: 3rem;
}

/****************** Booking Form ********************/

.bookingPage {
  display: flex;

  justify-content: space-around;
}
.bookingForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bookingForm-form {
  font-size: 2rem;
  display: grid;
  max-width: 400px;
  gap: 20px;
}

.bookingForm-form input {
  border-radius: 1rem;
  font-size: 1rem;
  background-color: #f4ce14;
  padding: 1rem;
}

.bookingForm-form select {
  border-radius: 1rem;
  font-size: 1rem;
  background-color: #f4ce14;
  padding: 1rem;
}

.bookingForm input[type="submit"] {
  background-color: #495e57;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.3s;
}

.bookingForm input[type="submit"]:hover {
  background-color: black;
  color: #f4ce14;
  font-weight: bold;
  font-size: 1.5rem;
}

.bookingSummary article {
  font-size: 2rem;
  background-color: #495e57;
  color: #f4ce14;
  padding: 2rem;
  border-radius: 1rem;
}

.bookingSummary article span {
  color: white;
  font-weight: bold;
}

/****************** Footer ********************/

footer {
  /* background-color: gray; */
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

footer > img {
  height: 100%;
  width: auto;
}

@media (max-width: 800px) {
  nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
  /* Because we are in mobile mode, we want to display it as a
       vertical list */
  nav ul {
    display: block;
  }
  /* We have two lists: the first one are the always visibile items
       in the menu bar. The second one is the one that will be hidden */
  nav ul:last-child {
    width: 100%;
    flex-basis: 100%;
  }
  nav ul li {
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    padding: 0.5em;
  }

  nav input[type="checkbox"],
  nav label {
    display: block;
  }

  input[type="checkbox"]:not(:checked) + ul {
    display: none;
  }

  #menu {
    display: none;
  }
}
